
.about {
  height: 100%;
}
a {
  text-decoration: none;
}
.tel {
  padding: 24px 48px;
  color: rgb(209, 49, 49);
}

.main-page {
  
}

.about {
  padding: 24px 240px;
  
}
.about-text {
  
}
.text-nav {
  list-style-type: none;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
.simple-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

footer {
  display: flex;
  text-align: left;
}

.footer-text-iban {
  font-size: 24px;
  padding: 16px 24px;
}
.footer-box {
  display: flex;
  
}
