:root {
  --primary-text-color: #2b2b2b;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-white-color: #f5f5f5;
  --secondary-text-color: #2f303a;
  --navigation-color: rgb(209, 49, 49);
  --main-backgound-color: linear-gradient(
    270deg,
    rgb(196, 212, 209) 0%,
    #fcfeff 100%
  );
  --primary-background-color: #12496a;
  --secondary-background-color: CMYK(0%, 45%, 86%, 1%);
}
